* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  .selected {
    p {
      background-color: #bab6b6; 
    }
  }
  
  li {
    p {
        border: 1px solid #ddd;
        margin: 1px;
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
        
        span {
          font-weight: bold;
        }
    }
    p:hover {
      background-color: #bab6b6;
      cursor: pointer;
    }
  }
}